

/*inital*/
*{
 margin: 0;
 padding: 0;
}
#page{
 width: 1500px;
 margin:0 auto;
 border-left: solid 1px;
 border-right: solid 1px;
}

html{
 font-size: 16px;
}

ul,li{
 list-style: none;
}

img{
	vertical-align: bottom;
}

.banner img{	
	width: 100%;
}

a:link{
	color: #000000;
	text-decoration: none;
}
a:visited{
	color: #cccccc;
}
a:hover{
	color:red;
}



@font-face{
	font-family: 'myfont';/* 定义*/
	src: url('myfont/iconfont.ttf') format('truetype');
}
/******************header*****************************/

.search{
	width:100%;
	line-height: 60px;
	background-color: #777777;
	text-align: center;
	flex-shrink: 0;
}

.search input[type='text']{
	width: 1000px;
	height: 30px;
	
	border: none;
	vertical-align: middle;
	outline: none;
}

.search input[type='submit']{
	height:30px;
	width:30px;
	box-sizing:content-box;
	border:none;
	background-color:#FFFFFF;
	vertical-align:middle;
	background-image:url('images/magnifier.png');
	background-repeat:no-repeat;
	background-size: 60px 30px;
}

.search input[type='submit']:hover{
	background-position: -32px center;
}
h1{
	margin-left: 235px;
	margin-right: 64px;
	font-size: 30px;
	
}

header{
	display: flex;
	flex-wrap: wrap;
}
h1{
	transform: translate(0,3px);
}
h1 img{
	vertical-align: middle;
	margin-right: 10px;
	transform: scale(0.7) translate(0,-9px);
}

nav{
	width: 750px;
}
nav ul{
	display: flex;
	justify-content: space-between;/* 对于单行伸缩盒*/
	height: 100%;
	align-items: center;
}
nav li{
	padding: 0 15px;
	line-height: 30px;
}
nav li:hover{
	background-color: red;
	border-radius: 5px;
}

nav li:hover a{
	color: white;
	font-weight: bold;
}

/*********                    main             **********/

main{
	display: flex;
	flex-wrap: wrap;
}
.banner-login{
	position: relative;
}
.banner ul{
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	text-align: center;
}
.banner li{
	display: inline-block;
	width: 24px;
	height: 24px;
	background-color: rgb(200, 200, 200,0.8);
	border-radius: 50%;
}
.banner>img:nth-of-type(2){
	position: absolute;
	left: 0;
	top: 0;
}
aside{
	position: fixed;
	right: 0;
	top: 150px;
}
aside li{
	width: 80px;
	height: 80px;
	margin-bottom: 2px;
	background-color: #eee;
	text-align: center;
}
aside span{
	display:inline-block;
	width: 100%;
	font-family: 'myfont';
	font-size: 30px;
	margin:10px 0;
}



.login{
	background-color:rgba(0,0,0,0.55);
	position:absolute;
	top: 25px;
	right: 240px;
	text-align: center;
	width: 320px;
	height: 260px;
}
.login input{
	width: 63%;
	margin-bottom: 8px;
	margin-top: 15px;
	font-size: 13px;
	line-height: 25px;
	border: none;
}
.login input[placeholder="验证码"]{
	width: 37%;
	padding-left: 10px;
	margin-left: 10px;
}

.login h3{
	font-size: 18px;
	color: white;
	font-weight: normal;
	margin-top: 10px;
}
.login p{
	color: #cccccc;
	font-size: 1ch;
}
.login a{
	color: white;
	font-size: 1ch;
	margin-right: -120px;
}
.login input[type=submit]{
	background-color:orange;
	border-style: none;
	margin-top:10px;
	color: white;
	border-radius: 5px;
	line-height: 30px;
	font-size: 18px;
	width: 72%;
}
.login img{
	width: 95px;
	height: 25px;
	margin-bottom: 8px;
	margin-right: 5px;
	margin-left: 8px;
}
.login input:nth-of-type(1){
	background-image: url('images/user-icon.png');
	background-repeat: no-repeat;
	background-size: 15px 18px;
	padding-left: 30px;
	margin-left: 5px;
	background-position: 8px 3px;
}
.login input:nth-of-type(2){
	background-image: url('images/password-icon.png');
	background-repeat: no-repeat;
	background-size: 15px 18px;
	padding-left: 30px;
	margin-left: 5px;
	background-position: 8px 3px;
}




.link{
	width: 100%;
}
.link li:hover::before{           /*对整个li进行悬停，修改content*/
	background-position: right;
}
.link li:hover a{              /* 对整个li进行悬停，修改a*/
	color: red;
}
.link ul{
	display: flex;
	width: 1030px;
	margin: 30px auto;
	justify-content: space-between;
}

.link li:first-child::before{/*对第一个li添加content*/
	content: '\e66b';
}
.link li:nth-child(2)::before{
	content: '\e61d';
}
.link li:nth-child(3)::before{
	content: '\e60f';
}
.link li:last-child::before{
	content: '\e879';
}

.link li::before{/*对所有li添加content*/
	content: "";
	float: left;
	width: 94px;
	height: 113px;
	background-image:url("images/bg-shield.png");
	font-family: 'myfont';
	line-height: 100px;
	text-align: center;
	color:mistyrose;
	font-size: 60px;
}

.link li::after{
	content: '';
	display: block;
	clear: left;
}

.link a{
	display: inline-block;
	margin-top: 70px;
}



.ad,.tec{
	width:543px;
	margin-left: 235px;
}

.ad a[href='#13']{
	color: rgb(255, 255, 255,0.4);
	position: absolute;
	font-size: 60px;
	background-color: rgb(0, 0, 0,0.55);
	transform: translate(0,-180px);
}
.ad a[href='#14']{
	color: rgb(255, 255, 255,0.4);
	position: absolute;
	font-size: 60px;
	background-color: rgb(0, 0, 0,0.55);
	transform: translate(498px,-180px);
}
.ad a:hover{
	color: red;
}
.ad figcaption{
	background-color: rgb(0, 0, 0,0.55);
	position: absolute;
	width: 543px;
	height: 35px;
	transform: translate(0px,-35px);
	color: white;
	text-align: center;
	line-height: 35px;
}

.notice,.fyb{
	width: 460px;
	margin-left: 27px;
	font-family: 'myfont';
}

.tec,.fyb{
	margin-top:48px;
}
.notice li{
	margin-top:16px;
}
.notice a[href='#24']{
	line-height: 40px;
}
a[href='#21']{
	font-size: 15px;
	color: #cccccc;
}
.notice a[href='#21']:hover{
	color: red;
}
.notice li:first-child::after{
	content: '\eca8';
	font-family: 'myfont';
	color: red;
	position: absolute;
	transform: translate(330px,-130px);
}
.notice li:nth-child(2)::after{
	content: '\eca8';
	font-family: 'myfont';
	color: red;
	position: absolute;
	transform: translate(-20px,-15px);
}
.notice h2{
	color: #ffffff;
}





table{
	width: 100%;
	text-align: center;
	line-height: 30px;
}
section{
	border-top: 2px solid red;
}
section ul{
	clear: left;
}

.notice h2{
	float: left;
	background-color: orangered;
	font-size: 24px;
	width: 150px;
	line-height: 40px;
	text-align: center;
	border-radius: 0 0 5px 5px;
}

.tec h2{
	color: #FFFFFF;
	float: left;
	background-color: orangered;
	font-size: 24px;
	width: 150px;
	line-height: 40px;
	text-align: center;
	border-radius: 0 0 5px 5px;
}
a[href='#22']{
	color: #cccccc;
	font-size: 15px;
}
a[href='#22']:hover{
	color: red;
}
.fyb h2{
	color: white;
	float: left;
	background-color: orangered;
	font-size: 24px;
	width: 150px;
	line-height: 40px;
	text-align: center;
	border-radius: 0 0 5px 5px;
}
a[href='#23']{
	font-size: 15px;
	color: #cccccc;
}
a[href='#23']:hover{
	color: red;
}
h2+a{
	float: right;
	line-height: 40px;
}

section li{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

li p{
	white-space: normal;
	text-indent: 2em;/*首行缩进    em相对比较  字号*/
	margin:10px 0;
}
.tec li{
	margin-top: 15px;
}
a[href='#29']{
	line-height: 40px;
}

tr td:nth-of-type(3){
	color: red;
}
tr td:nth-of-type(4){
	color: red;
}
.td img{
	position: absolute;
	background-position: 400px,5px;
}

footer{
	width: 100%;
	background-color: #777777;
}
footer li:nth-of-type(4)::after{
	content: "400-888-8888";
	font-size: 25px;
	font-weight:bold;
	margin-left: 10px;
}
footer li:nth-of-type(5)::after{
	content: "\e66b""\e66b""\e66b""\e66b";
	font-size: 20px;
	font-family: "myfont";
	margin-left: 10px;
	padding-left: 5px;
}
footer ul{
	display: flex;
	width: 1030px;
	margin-left: 235px;
	justify-content: space-between;
	line-height: 80px;	
	color: white;
}