@font-face {
  font-family: "iconfont"; /* Project id 3797951 */
  src: url('iconfont.woff2?t=1670151109946') format('woff2'),
       url('iconfont.woff?t=1670151109946') format('woff'),
       url('iconfont.ttf?t=1670151109946') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-huangguan:before {
  content: "\e63c";
}

.icon-qiandai:before {
  content: "\e60f";
}

.icon-suo:before {
  content: "\e61d";
}

.icon-yk_fangkuai_fill:before {
  content: "\e600";
}

.icon-huangguan1:before {
  content: "\e615";
}

.icon-hot:before {
  content: "\eca8";
}

.icon-judge-full:before {
  content: "\e879";
}

.icon-box2xiangzi:before {
  content: "\e731";
}

.icon-qrcode-1-copy:before {
  content: "\e613";
}

.icon-fanhuidingbu:before {
  content: "\e6c4";
}

.icon-se:before {
  content: "\e66b";
}

.icon-QQ:before {
  content: "\e882";
}

